*.log
*.jar
*.zip
*.apk
*.tar
*.br
*.gz
*.png
*.jpg
*.xml
*.lib
*.xz
busybox
bash
xz
brotli
curl
zipalign
zip
tar
unzip
bin/*
core/litegapps/pixel/gapps
core/litegapps/pixel/modules
core/litegapps/micro/gapps
core/litegapps/micro/modules
core/litegapps/nano/gapps
core/litegapps/nano/modules
core/litegapps/basic/gapps
core/litegapps/basic/modules
core/litegapps/user/gapps
core/litegapps/user/modules
core/litegapps/core/gapps
core/litegapps/core/modules
core/litegapps/go/gapps
core/litegapps/go/modules
core/litegapps/lite/gapps
core/litegapps/lite/modules
output
tmp
files_tmp

